<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/bin/.phpunit/phpunit.xsd"
         colors="true"
         verbose="true"
         bootstrap="./Tests/bootstrap.php"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         beStrictAboutResourceUsageDuringSmallTests="true"
>

    <testsuites>
        <testsuite name="OrbitaleCmsBundle test suite">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="SYMFONY_DEPRECATIONS_HELPER" value="9999999"/>
        <server name="KERNEL_DIR" value="./Tests/Fixtures/App"/>
        <server name="KERNEL_CLASS" value="Orbitale\Bundle\CmsBundle\Tests\Fixtures\App\AppKernel"/>
        <ini name="zend.enable_gc" value="0"/>
    </php>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./Controller</directory>
            <directory suffix=".php">./DependencyInjection</directory>
            <directory suffix=".php">./Entity</directory>
            <directory suffix=".php">./EventListener</directory>
            <directory suffix=".php">./Repository</directory>
            <directory suffix=".php">./Resources</directory>
        </include>
        <exclude>
            <directory>./build</directory>
            <directory>./Tests</directory>
            <directory>./vendor</directory>
        </exclude>
    </coverage>
</phpunit>
